.cursor {
    cursor: pointer;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100% !important;
}

.max-h-full {
    max-height: 100%;
}

.max-w-full {
    max-width: 100% !important;
}

.field {
    margin-bottom: 0.2rem;
}

.field-textarea {
    height: 105px;
    width: 100%;
    overflow: hidden;
    outline: none !important;
    resize: none;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
}

.titulo {
    color: $blue3;
    font-size: 30px;
}

.visit {
    background-color: #0043ff2e !important;
}

.birthday {
    background-color: #27ff002e !important;
}

.prayer {
    background-color: #fbff0047 !important;
}

.message {
    background-color: #ff00f747 !important;
}

.required {
    color: red;
}