$black: #000;
$black2: #353535;
$white: #fff;
$white2: #ebebeb;
$grey: #f2f2f2;
$grey2: #ccc;
$greyicon: #6c6868;
$green: #44ff0b;
$yellow: #d7f41c;
$primary: #f18500;
$blackprimary: #272a4b;
$secundary: #953fc4;
$secundaryClear: #E3CFE8;
$red: #f11c1c;
$whitepurple: #AA64C7;
$whiteblue: #e9f4ff;
$blue3: #76bff0;
$blue: #c4e5f2;
$blue2: #abc1f5;
$pink: #c194dc;
$transparent: transparent;
$primary2: #ffe8cb;
$green2: #cae0bd;
$green3: #749d5c;
$blue4: #27aff0;
$font-family: Montserrat;

$base-colors: (
    black: $black,
    black2: $black2,
    white: $white,
    primary: $primary,
    secundary: $secundary,
    whitepurple: $whitepurple,
    blue: $blue,
    blue2: $blue2,
    blackprimary: $blackprimary,
    green: $green,
    green2: $green2,
    green3: $green3,
    grey: $grey,
    grey2: $grey2,
    yellow: $yellow,
    primary2: $primary2,
    red: $red,
    greyicon: $greyicon,
    whiteblue: $whiteblue,
    pink: $pink,
    transparent: $transparent,
    secundaryClear: $secundaryClear,
    blue3: $blue3,
    blue4: $blue4
);