<div class="container-fluid">
    <div class="row flex-md-row flex-column-reverse">
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
            <div class="row d-none d-md-flex">
                <div class="col-12">
                    <div class="d-flex justify-content-center mb-3">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row m-1 justify-content-center">
                        <div class="box-w-50 box-utils-mt col-12 col-md-10 col-lg-8 p-md-2 p-md-5">
                            <base-content>
                                <router-outlet></router-outlet>
                            </base-content>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>