<base-content>
  <div class="col-12">
    <div class="row">
      <div class="col-12 col-md-12">
        <div class="">
          <h2 class="d-none d-md-block text-center text-md-left">Tabela de Avisos!</h2>
        </div>
      </div>
      <div class="col-12 d-none d-md-block">
        <p-divider></p-divider>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-12" *ngIf="canAdd">
        <div class="col-12 col-md-8"></div>
        <div class="mb-3 col-12 col-md-4 d-md-block">
          <p-button label="Adicionar Aviso" (onClick)="addAviso()"></p-button>
        </div>
      </div>

      <div class="col-12">
        <div class="row">
          <div class="col-12 pr-0 table-responsive">
            <p-table #table styleClass="p-datatable-striped" [rows]="10" [paginator]="true" [rowHover]="true"
              [value]="avisos" [lazy]="true" (onLazyLoad)="lazyLoadTable($event)" [totalRecords]="10"
              [rowsPerPageOptions]="[10, 20, 30, 40]" [globalFilterFields]="['tipo']" dataKey="id"
              responsiveLayout="collapse">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="aviso.guestType">
                    <p>
                      Tipo<p-sortIcon field="aviso.guestType"></p-sortIcon>
                    </p>
                  </th>
                  <th pSortableColumn="acoes">
                    <p>Ações</p>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-aviso>
                <tr>
                  <td>{{ aviso.guestType }}</td>
                  <td>
                    <div class="col-8 d-flex">
                      <div class="col-12 col-md-3 mr-5">
                        <p-button styleClass="w-full p-button-outlined dep-border-color-blue3" (onClick)="modalView(aviso)"
                          label="Visualizar"></p-button>
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-12 col-md-3" *ngIf="canAdd">
                        <p-button styleClass="w-full" label="Editar" (onClick)="editAviso(aviso)"></p-button>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</base-content>
<app-modal-view #mview [title]="title" [form]="aviso" labelPrimaryButton="Marcar como lido e fechar"
    (onPrimaryClick)="closeModal(aviso)">
</app-modal-view>